.Escaliers {
  text-align: center;
  background-image: url("../fonds/fond1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  margin-top: -18px;
}

.a{
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 0px;
}

.vignette{
  width: 50px;
}

.vignette img{
  width: 100px;
  height: 75px;;
  margin: 0px;

}

.allCarousel-escaliers{
  margin-top: 0px;
  height: 500px;
}

.photo-escaliers img{
  margin-top: 30px;
  border-radius: 10px;
  margin-bottom: 0px;
  width: 500px;
}

.container-escaliers {
  position: relative;
}

.title-escaliers {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  left: 262px;
  bottom: 42px;
  width: 500px;

  background-color: rgba(200, 200, 200, 0.85);
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.text-escaliers {
  font-size: 16px;
  position: relative;
  left: 262px;
  bottom: 42px;
  width: 500px;
  padding-bottom: 5px;
  border-radius: 0px 0px 10px 10px;

  background-color: rgba(200, 200, 200, 0.85);
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.text-fixe-escaliers p{
  color: black;
  width: 750px;
  text-align: justify;
  margin-top: -10px;
  text-align: center;
  font-size: 16px;
}

 .Escaliers .text-fixe-escaliers{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  margin-bottom: 0px;
}

.Escaliers .titre-escaliers {
  padding-top: 20px;
  font-size: 28px;
  color: rgb(53, 164, 174);
  font-weight: bold;
  text-align: left;
  padding-left: 50px;
}

.Escaliers .separation-menu {
  
  margin: -20px auto;
  width: 980px;
  color: rgb(80, 80, 80);
}