.Header {
  display: flex;
  background-image: url("../images/background_essai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_generale {
  width: 30vw;
  padding-top: 5px;
}

.nav_bar {
  width: 70vw;
}


.gg {
  width: 265px;
  height: 80px;
  padding-left: 20px;
  padding-top: 10px;
}

.homeIcon {
  width: 40px;
}

.tagIcon {
  border: none;
  background: none;
  padding-top: 15px;
  padding-bottom: 0px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 20px;
}

li {
  margin-bottom: 0px;
  padding-top: 12px;
}

.mailIcon {
  border: none;
  background: none;
  padding-top: 8px;
  width: 30px;
}
