.actu3 {
  width: 250px;
  height: 56%;
}

.actu2 {
  width: 250px;
  height: 56%;
}

.actu1 {
  width: 250px;
  height: 56%;
}

.photo-home img {
  width: 600px;
  height: 450px;
  margin-top: 50px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.allCarousel-home {
  width: 75%;
  height: 550px;
  margin-top: 8px;
}

.Home .actualites {
  width: 270px;
  height: 495px;
  margin-left: 1px;
  margin-top: 0px;
  padding-top: 10px;
  overflow-y: scroll;
}

.actualites p {
  color: #ffffff;
  width: 250px;
  text-align: justify;
  font-size: 12px;
}

.actualites h6 {
  color: #ffffff;
  font-size: medium;
}

.left {
  display: flex;
  flex-direction: column;
  width: 280px;
  text-align: center;
  height: 570px;
  margin-top: 5px;
  margin-left: 1px;
  border-radius: 0px 10px 10px 0px;;
  background-color: #6b6c6e;
}

.titre-actualites {
  width: 225px;
  margin-left: 26px;
  color: #ffffff;
}

.corps {
  display: flex;
}

.article1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separation_horizontale {
  height: 1px;
  width: 190px;
  margin-bottom: 10px;
}

.separation-actualites {
  height: 1px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: -15px;
}

/*.photo p{
  font-size: 12px;
  color: black;
}*/

.container-home {
  position: relative;
}

.text-home {
  font-size: small;
  position: absolute;
  left: 75px;
  bottom: 3px;
  width: 600px;
  border-radius: 0px 0px 10px 10px;

  background-color: rgba(200, 200, 200, 0.85);
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.Home {
  height: 580px;
  background-image: url("../images/fond_monumentalistes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
