.PresentationBatiment {
  background-image: url("../fonds/fond1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 730px;
  margin-top: -19px;
}

.PresentationBatiment h1 {
  padding-top: 20px;
  font-size: 28px;
  color: rgb(53, 164, 174);
  font-weight: bold;
  text-align: left;
  padding-left: 50px;
}

hr {
  margin-left: 13px;
  margin-top: -20px;
  width: 660px;
  color: rgb(80, 80, 80);
}

.photo-text-batiment {
  display: flex;
  justify-content: space-around;
}

.photo-text-batiment img {
  width: 65%;
  height: 450px;
  margin-top: 0px;
}

.photo-text-batiment p {
  width: 30%;
  font-size: 17px;
  text-align: justify;
  margin-right: 10px;
  margin-top: -2px;
  color: rgb(60, 60, 60);
}
