.photo img {
  width: 800px;
  height: 600px;
  margin-bottom: 30px;
}

.vignette img {
  width: 70px;
  height: 50px;
  margin: 0px;
}

.vignette {
  margin-left: -80px;
}

.allCarousel {
  margin-bottom: 50px;
}

.a{
  margin-bottom: 20px;
}
