.App {
  text-align: center;
  margin: auto;
}

.Header {
  position: fixed;
  top: 0px;
  width: 1024px;
  z-index: 2;
  transition-duration: 0.5s;
  margin-bottom: 5px;
}

.BigHeader{
  position: fixed;
  top: 0px;
  width: 1024px;
  z-index: 3;
  transition-duration: 0.5s;
  margin-bottom: 5px;
}

.Home{
  z-index: 1;
  margin-top: 150px;
  scroll-margin-top: 50px;
}